<h3>
    <a [title]="product.name + ' details'">
        {{ product.name }}
    </a>
</h3>

<p *ngIf="product.description">
    description: {{ product.description }}
</p>

<button type="button" (click)="showDialog()" icon="pi pi-info-circle" label="Show" style="border-radius: 10px;"><i
        class="fas fa-plus"></i></button>

<p-dialog header="{{product.name}}" [(visible)]="display">
    <p *ngIf="product.description">
        description: {{ product.description }}
    </p>
    <br>
    <p *ngIf="product.price">
        Price: ${{ product.price }}
    </p>
    <br>
    <img src="./assets/phones/{{product.images}}" width="100px" height="auto" alt="Sin imagen">
    <button type="button" (click)="addToCart(product)" style="border-radius: 10px;">
        <i class="fas fa-cart-plus"></i>
    </button>
</p-dialog>

<br>
<br>

<button type="button" (click)="share()" style="border-radius: 10px;">
    <i class="fas fa-share"></i>
</button>

<br>
<br>

<button type="button" (click)="onNotify()" style="border-radius: 10px;">
    <i class="fas fa-envelope-open-text"></i>
</button>