<h3>
    <a [title]="product.name + ' details'">
        {{ product.name }}
    </a>
</h3>

<button type="button" (click)="showDialog()" icon="pi pi-info-circle" label="Show">Contenido</button>

<p-dialog [(visible)]="display">
    Contenido
    <br>
    <p *ngIf="product.description">
        description: {{ product.description }}
    </p>
    <br>
    <p *ngIf="product.price">
        Price: ${{ product.price }}
    </p>
    <br>
    <img src="./assets/phones/{{product.images}}" width="100px" height="100px" alt="Sin imagen">
</p-dialog>

<br>

<button type="button" (click)="share()">
    Share
</button>

<app-product-alerts [product]="product" (notify)="onNotify()">
</app-product-alerts>